.wrapper h2 {
    margin-bottom: 2rem;
}

.addWrapper {
    margin-bottom: 2rem;
}

.addHeader {
    background-color: var(--tcBackground4);
    color: var(--tcText2);
    padding: 0.5rem 1rem;
    width: 100%;
    margin-bottom: 2rem;
}

.addHeader h3 {
    font-size: 1.25rem;
    margin : 0;
}