.wrapper > button {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 0.1rem 0;
    border: none;
    background: transparent;
    font-weight: bold;
    color: var(--tcText4);
    white-space: nowrap;
}
.wrapper > button:hover {
    color: var(--tcText3);
}

.wrapper > ul {
    list-style: circle; 
    border-left: 1px dashed var(--tcColor2);
}