.wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.5rem;
    list-style: none;
    padding: 0;
}
.wrapper * {
    text-decoration: none;
    color: var(--tcText1);
    font-size: 1.2rem;
    vertical-align: middle;
}

.wrapper a:hover {
    color: var(--tcText3);
}